# API routes configuration for version v1.0
[APIPackages]

# Each endpoint has configurable fields. These are:
# Name: the full path of the endpoint in a gin server based format
# Open: if set to false, the endpoint will not be enabled
# Secured: if set to true, then requests to this route have to be made using Basic Authentication using credentials
# from credentials.toml file
# RateLimit: if set to 0, then the endpoint won't be limited. Otherwise, a given IP address can only make a number of
# requests in a given time stamp, configurable in config.toml

[APIPackages.actions]
Routes = [
    { Name = "/reload-observers", Open = true, Secured = true, RateLimit = 0 },
    { Name = "/reload-full-history-observers", Open = true, Secured = true, RateLimit = 0 }
]

[APIPackages.node]
Routes = [
    { Name = "/heartbeatstatus", Open = true, Secured = false, RateLimit = 0 },
]

[APIPackages.address]
Routes = [
    { Name = "/:address", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/:address/balance", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/:address/nonce", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/:address/username", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/:address/keys", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/:address/key/:key", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/:address/esdt", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/:address/esdts/roles", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/:address/esdt/:tokenIdentifier", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/:address/esdts-with-role/:role", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/:address/registered-nfts", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/:address/nft/:tokenIdentifier/nonce/:nonce", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/:address/shard", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/:address/transactions", Open = true, Secured = false, RateLimit = 0 }
]

[APIPackages.hyperblock]
Routes = [
    { Name = "/by-hash/:hash", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/by-nonce/:nonce", Open = true, Secured = false, RateLimit = 0 }
]

[APIPackages.network]
Routes = [
    { Name = "/status/:shard", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/economics", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/config", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/esdts", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/esdt/fungible-tokens", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/esdt/semi-fungible-tokens", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/esdt/non-fungible-tokens", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/direct-staked-info", Open = true, Secured = true, RateLimit = 0 },
    { Name = "/delegated-info", Open = true, Secured = true, RateLimit = 0 },
    { Name = "/enable-epochs", Open = false, Secured = false, RateLimit = 0 }
]

[APIPackages.validator]
Routes = [
    { Name = "/statistics", Open = true, Secured = false, RateLimit = 0 }
]

[APIPackages.vm-values]
Routes = [
    { Name = "/hex", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/string", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/int", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/query", Open = true, Secured = false, RateLimit = 0 }
]

[APIPackages.transaction]
Routes = [
    { Name = "/send", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/simulate", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/send-multiple", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/send-user-funds", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/cost", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/:txhash", Open = true, Secured = false, RateLimit = 0 },
    { Name = "/:txhash/status", Open = true, Secured = false, RateLimit = 0 }
]

[APIPackages.block]
Routes = [
    { Name = "/:shard/by-nonce/:nonce", Secured = false, Open = true, RateLimit = 0 },
    { Name = "/:shard/by-hash/:hash", Secured = false, Open = true, RateLimit = 0 }
]

[APIPackages.block-atlas]
Routes = [
    { Name = "/:shard/:nonce", Secured = false, Open = true, RateLimit = 0 }
]

[APIPackages.proof]
Routes = [
    { Name = "/root-hash/:roothash/address/:address", Secured = false, Open = false, RateLimit = 0 },
    { Name = "/address/:address", Secured = false, Open = false, RateLimit = 0 },
    { Name = "/verify", Secured = false, Open = false, RateLimit = 0 }
]
